<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Using a public api</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  
    
    <form action="/submit" method="POST">
      <input
        type="text"
        placeholder="Title"
        name="title"
        class="title"
      />
      <input
        type="text"
        placeholder="Year"
        name="year"
      />
      <button type="submit" name="button" value="go">Go</button>
    </form>
    <% if(locals.content){ %>
      <div class="imag">
        <img src="<%= content.Poster %>" alt="Poster">
      </div> 
      
      <div>   
         <p> Title : <%= content.Title %></p>
      </div>
      <div>
        <p> Released : <%= content.Released %></p>
      </div>
      <div>
        <p> Rated : <%= content.Rated %></p>
      </div>
      <div>
        <p> Genre : <%= content.Genre %></p>
      </div>
      <div>
        <p> Runtime : <%= content.Runtime %></p>
      </div>
      <div>
        <p> IMDB Rating : <%= content.imdbRating %></p>
      </div>
      <div>
        <p> Cast: <%= content.Actors %></p>
      </div>
      <div>
        <p> Plot : <%= content.Plot %></p>
      </div>
      
      <% } %>
    
</body>
</html>